<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-login">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<a href="" ng-click="lc.showLogin()" ng-class="{'active': lc.login}">Login</a>
						</div>
						<div class="col-xs-6">
							<a href="" ng-click="lc.showRegister()" ng-class="{'active': lc.register}">Register</a>
						</div>
					</div>
					<hr>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form name="login-form" class="form-validate" role="form" ng-if="lc.login">
								<div class="form-group">
									<input type="text" name="username" ng-model="lc.log.username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" required>
								</div>
								<div class="form-group">
									<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
								</div>
								<div class="form-group text-center">
									<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
									<label for="remember" style="font-size: 10pt;"> Remember Me</label>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3 text-center">
											<button type="button" ng-click="lc.signIn()" ng-disabled="login-form.$invalid" name="login-submit" tabindex="4" class="btn btn-success btn-lg"> Sign in
												<i class="fa fa-sign-in"></i>
											</button>
											<p class="text-danger text-bold" style="font-size: 12pt;" ng-if="lc.error">Username doesn't exist, try again</p>
										</div>

									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-lg-12">
											<div class="text-center">
												<a href="" tabindex="5" class="forgot-password" style="font-size: 10pt;">Forgot Password?</a>
											</div>
										</div>
									</div>
								</div>
							</form>
							<form id="register-form" role="form" ng-if="lc.register">
								<div class="form-group">
									<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
								</div>
								<div class="form-group">
									<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
								</div>
								<div class="form-group">
									<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
								</div>
								<div class="form-group">
									<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>