<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in upc.data track by $index">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.body}}</td>
                    <td class="btn-group">
                        <button class="btn btn-warning btn-small" ng-click="upc.postInfo(post.id)" type="button">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-small" type="button">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>