<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
                <h1>ng Developers</h1>
                <hr class="small">
                <span class="subheading">blog only for devs</span>
            </div>
        </div>
    </div>
</div>