 <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#home">Ng Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  ng-controller="LoginController as lc">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#contact">Contact Blogger</a>
            </li>
            <li ng-if="userPosts">
                <a href="#user_posts">My Posts</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="!userPosts">
                <a href="" ng-click="lc.login()">
                    Login
                    <i class="glyphicon glyphicon-user"></i>
                </a>
            </li>   
            <li ng-if="userPosts">
                <a href="" ng-click="lc.logout()">
                    Logout
                    <i class="glyphicon glyphicon-user"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container -->