<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="form-group col-sm-12">
            <h1 class="text-bold">Title</h1>
            <p class="text-bold">{{hc.post.title}}</p>
        </div>
        <div class="form-group col-sm-12">
            <h1 class="text-bold">Body</h1>
            <p class="text-bold">{{hc.post.body}}</p>
        </div>
        <div class="form-group col-sm-6">
            <h1 class="text-bold">Author: </h1>
            <p class="text-bold">{{hc.post.author}}</p>
        </div>
        <div class="form-group col-sm-6">
            <h1 class="text-bold">Comments(#)</h1>
            <p class="text-bold">{{hc.post.commentCount}}</p>
        </div>
    </div>
</div>
