<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="form-group col-sm-6">
            <h3 class="text-bold">Name:</h3>
            <p class="text-bold">{{hc.user.name}}</p>
        </div>
        <div class="form-group col-sm-6">
            <h3 class="text-bold">Username:</h3>
            <p class="text-bold">{{hc.user.username}}</p>
        </div>
        <div class="form-group col-sm-6">
            <h3 class="text-bold">Email:</h3>
            <p class="text-bold">{{hc.user.email}}</p>
        </div>
        <div class="form-group col-sm-6">
            <h3 class="text-bold">Phone:</h3>
            <p class="text-bold">{{hc.user.phone}}</p>
        </div>
    </div>
</div>
