<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview" ng-repeat="post in hc.data track by $index ">
                <a href="", ng-click="hc.postInfo(post.id)">
                    <h2 class="post-title">
                        {{post.title}}
                    </h2>
                    <h4 class="post-subtitle">
                        {{post.body}}
                    </h4>
                </a>
                <div class="row col-sm-12">
                    <div class="form-group col-sm-6">
                        <p class="post-meta" style="font-family: monospace; font-size: 12pt; display: inline;">Posted by <a href="" class="text-primary" ng-click="hc.userDetails(post.userId)" style="text-decoration: none;">{{post.username}}</a> on {{post.date}}</p>
                    </div>
                    <div class="form-group col-sm-6">
                        <p class="pull-right post-meta text-warning" style="font-family: monospace; font-size: 12pt; display: inline; margin: 0 0 0 10px;">  Comments: {{post.commentCount}}
                            <i class="fa fa-comment-o"></i>
                        </p>
                    </div>
                </div>
            </div>
            <hr>            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="", ng-click="hc.olderPosts()">Older Posts <i class="fa fa-arrow-down"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>